<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>
                Emberek
            </th>
        </thead>
        <tbody>
            <% felhasznalok.forEach((felhasznalo, i) => { %>
            <tr>
                    <td><%= felhasznalo.nev %></td>
                    <td><%= felhasznalo.nem %></td>
                    <td><%= felhasznalo.szuletes %></td>
                    <td><%= felhasznalo.egyenleg %></td>
                    <td><%= felhasznalo.aktiv %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
